.menu{
    background-color: #050a0c;
    width: 15%;
    height: 100vh;
}

.menu-list{
    margin-top: 90px;
}


.img-head{
    padding: 30px;
}

.fas{
    color: #363636;
}

.navbar{
    background-color: #050a0c;
}

.search{
    width: 80vh;
    padding: 30px;
    background-color: #050a0c;
}

li{
    margin-top: 20px;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #050a0c;
}

.hero{
    width: 100%;
    display: inline-flex;
    justify-content: center;
}

.title{
    color: snow;
}

.container{
    width: 80%;
    height: 120vh;
    border-radius: 12px;
    margin-left: 16%;
    padding-left: 2rem;
    margin-top: -650px;
    flex-direction: column;
    background-color:#363636;
}

.btnsalva{
    background-color: #4ecca3;
    color: snow;
    float: right;
    margin-top: -70px;
    margin-right: 220px;
}

.salva{
    text-decoration: none;
}
.salva:visited{
    color: snow;
}

.card{
    width: 50%;
    height: 4rem;
    margin-left: 26%;
    padding-left: 2rem;
    margin-top: -620px;
    background-color:#363636;
    color: snow;
    position: absolute;
}

.name{
   display: inline-flex;
   flex-direction: column;
   width: 40%;
   color: whitesmoke;
}

.email{
    width: 40%;
    display: inline-flex;
    flex-direction: column;
 }

 .pass{
    margin-top: auto;
    width: 20%;
    display:inline-flex;
    flex-direction: column;
 }

 
 .tel{
    margin-top: auto;
    width: 20%;
    display:inline-flex;
    flex-direction: column;
 }

 
 .cpf{
    margin-top: auto;
    width: 20%;
    display:inline-flex;
    flex-direction: column;
 }