.menu{
    background-color: #050a0c;
    width: 15%;
    height: 100vh;
}

.menu-list{
    margin-top: 50px;
}

.fas{
    color: #fff;
}

.navbar{
    background-color: #050a0c;
}

.search{
    margin-top: 20px;
}

li{
    margin-top: 30px;
}

a:hover{
    color: rgb(99, 99, 99);
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #050a0c;
}

.hero{
    width: 70%;
    display: inline-flex;
}

.title{
    color: snow;
}

.container{
    width: 90%;
    height: 90vh;
    border-radius: 12px;
    margin-left: 16%;
    margin-top: -600px;
    flex-direction: column;
    position:absolute;
    background-color:#14141f;
}

b-field{
    background-color: #000;
}

.btnsalva{
    background-color: green;
    color: snow;
    float: right;
    margin-top: -70px;
}


.name{
   display: inline-flex;
   flex-direction: column;
   width: 40%;
}

.email{
    width: 40%;
    display: inline-flex;
    flex-direction: column;
 }

 .pass{
    margin-top: auto;
    width: 20%;
    display:inline-flex;
    flex-direction: column;
 }

 
 .tel{
    margin-top: auto;
    width: 20%;
    display:inline-flex;
    flex-direction: column;
 }

 
 .cpf{
    margin-top: auto;
    width: 20%;
    display:inline-flex;
    flex-direction: column;
 }