<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/buefy/dist/buefy.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@5.8.55/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="css/index.css">
    <title>Document</title>
</head>
<body>
<div id="app" >
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <b-field>
            <img src="images/analytics.png" alt="Analytics" class="img-head">
            <b-input placeholder="Buscar funcionalidade.." 
            class="search"></b-input>
        </b-field>
    </nav>
    <aside class="menu">
        
        <ul class="menu-list">
          <li><a><i class="fas fa-home"></i> Dashboard</a></li>
          <li><a><i class="fas fa-users"></i> Grupos</a></li>
          <li><a href="users.html"><i class="fas fa-user"></i> Usuários</a></li>
          <li><a><i class="fas fa-atom"></i> Sistemas</a></li>
          <li><a><i class="fas fa-sitemap"></i> Categoria</a></li>
        </ul>
    </aside>


        <div class="container">
            <section class="hero">
                <div class="hero-body">
                <p class="title">
                    Cadastrar novo usuário
                </p>
                <b-field>  
                    <b-button class="btnsalva" @click="salvar">Salvar</b-button>
                </b-field> 
                </div>
            </section>
                
                <b-field label="Nome" class="name">
                    <b-input type="text" placeholder="Seu nome" v-model="name"></b-input>
                </b-field>
        
                <b-field label="Email" class="email">
                    <b-input type="email" placeholder="email@exemplo.com" maxlength="30" v-model="email">
                    </b-input>
                </b-field>
           
                <b-field label="Password" class="pass">
                    <b-input type="password" placeholder="sua senha" maxlength="30" v-model="pass"></b-input>
                </b-field>
                
                <b-field label="Password" class="pass">
                    <b-input type="password" placeholder="sua senha" maxlength="30" v-model="repeatPass"></b-input>
                </b-field>

                <b-field label="seu CPF" class="cpf">
                    <b-input placeholder="Seu CPF"
                        type="number"
                        min="10"
                        max="20" v-model="cpf">
                    </b-input>
                </b-field>

                <b-field label="telefone" class="tel">
                    <b-input placeholder="(11) 91234-5678"
                        type="tel"
                        min="10"
                        max="12" v-model="tel">
                    </b-input>
                </b-field>
        
                <b-field label="Subject">
                    <b-select placeholder="Selecione um cagro">
                        <option value="1">Super-Admin</option>
                        <option value="2">Outro cargo</option>
                    </b-select>
                </b-field>
        </div>

</div>    

<script src="https://unpkg.com/vue"></script>
<!-- Full bundle -->
<script src="https://unpkg.com/buefy/dist/buefy.min.js"></script>

<!-- Individual components -->
<script src="https://unpkg.com/buefy/dist/components/table"></script>
<script src="https://unpkg.com/buefy/dist/components/input"></script>

    <script src="js/index.js"></script>
       
</body>
</html>